#coinamount{
  text-align: center;
  font-size: 48px
}

#tickspeed{
  text-align: center;
  font-size: 16px;
  color: gray;
}

.generator{
  font-size: 24px;
  vertical-align: middle;
}

.accelerator{
  font-size: 24px;
  text-align: right;
  vertical-align: middle;
  color: red;

}

button{
  border: .18em solid;
  font-size: 12px;
  width: 150px;
  height: 32px;
  background: white;
  color: black;
  border-radius: 10px;
  vertical-align: middle;
}

.gbutton{
  background: #B0B0B0;
  color: black
}

.abutton{
  background: black;
  border-color: black;
  color: white
}

#tweet{
   margin: 20px 0px;
 }

 .twitter-hashtag-button{
   color: white;
   padding: 8px 12px;
   background: #1DA1F2;
   border-radius: 3px;
   text-decoration: none;
 }
