#coinamount{
  text-align: center;
  font-size: 48px
}

.generator{
  font-size: 24px;
  vertical-align: middle;
}

button{
  border: .18em solid;
  font-size: 12px;
  width: 150px;
  height: 32px;
  background: white;
  color: black;
  border-radius: 10px;
  vertical-align: middle;
}
