#coinamount{
  text-align: center;
  font-size: 48px
}

#darkcoinamount{
  text-align: center;
  font-size: 36px
}

#lightcoinamount{
  text-align: center;
  font-size: 36px
}

#tickspeed{
  text-align: center;
  font-size: 16px;
  color: gray;
}

td{
  width:24px;
  height:24px;
}

.generator{
  font-size: 24px;
  vertical-align: middle;
}

.darkgenerator{
  font-size: 24px;
  vertical-align: middle;
}

.challenge{
  font-size: 24px;
  vertical-align: middle;
}

.mode-container {
  display: inline-block;
}

.accelerator{
  font-size: 24px;
  vertical-align: middle;
  color: red;

}

.levelitem{
  font-size: 24px;
  vertical-align: middle;
}

button{
  border: .18em solid;
  font-size: 12px;
  width: 150px;
  height: 32px;
  background: white;
  color: black;
  border-radius: 10px;
  vertical-align: middle;
}

button:not(.unavailable) {
  cursor: pointer;
}

button.unavailable{
  background: #B0B0B0;
}

.gbutton{
  background: #FFFFFF;
  color: #000000;
}

.gbutton.unavailable {
  background: #B0B0B0;
}

.abutton{
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.abutton.unavailable {
  background: #808080;
}

.lbutton{
  width:180px;
}

.llbutton{
  width:240px;
}

.lbutton.unavailable {
  background: #B0B0B0;
}

.llbutton.selected {
  background: #000000;
  color: #FFFFFF;
}

.tweetconfigbutton.selected{
  background: #000000;
  color: #FFFFFF;
}

.challengeconfigbutton.selected{
  background: #000000;
  color: #FFFFFF;
}


.rewardbutton.selected{
  background: #000000;
  color: #FFFFFF;
}

.autobuyerbutton.selected{
  background: #000000;
  color: #FFFFFF;
}

.wdbutton.selected{
  background: #000000;
  color: #FFFFFF;
}

.buytypebutton.selected{
  background: #000000;
  color: #FFFFFF;
}

.wdbutton.unavailable{
  background: #B0B0B0;
}

#resetbutton{
  background: white;
  color: #D32F2F;
  border-color: #D81B6032;
  border-width: 1px;
  width: 90px;
}

#resetbutton:hover{
  background: #D32F2F;
  color: white;
  width: 90px;
  transition: all .2s;
}

#tweet{
  margin: 20px 0px;
}

#tweet a{
  color: white;
  font-size: .8rem;
  padding: .6rem .8rem;
  background: #1DA1F2;
  border-radius: 3px;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}
